.btn {
  width: clamp(150px, 20vw, 200px); /* Ajusta entre 150px y 200px basado en el viewport */
  margin-top: 2vh; /* Margen relativo al alto de la pantalla */
  padding: 1vh 2vw; /* Padding ajustable según el tamaño de pantalla */
  font-size: clamp(16px, 2vw, 30px); /* Texto entre 16px y 30px según viewport */
}

.btn.buscar {
  width: clamp(60px, 10vw, 80px);
  height: clamp(30px, 5vh, 35px);
  font-size: clamp(12px, 1.5vw, 15px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn.tabla {
  margin-top: 0;
  width: clamp(200px, 30vw, 300px);
  padding: 0;
  font-size: clamp(12px, 1.5vw, 15px);
}

.table {
  font-size: clamp(12px, 1.5vw, 15px);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr; /* Mantiene la estructura adaptable */
  width: 100%;
  gap: 1vw; /* Espaciado entre columnas basado en el viewport */
}

.letraMenu {
  font-size: clamp(18px, 2.5vw, 20px);
}

.search {
  width: clamp(40px, 8vw, 50px);
  height: clamp(30px, 5vh, 35px);
  font-size: clamp(12px, 1.5vw, 15px);
  padding: clamp(5px, 1vw, 10px);
}

.card-text{
  font-size: clamp(12px, 1.5vw, 15px);
}

.pokemon-img {
  width: 120px;  /* Ajusta el tamaño según lo necesites */
  height: 120px; /* Mantiene la imagen cuadrada */
  object-fit: contain; /* Asegura que la imagen se vea bien sin recortarse */
  display: block;
}
